<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block  layout:fragment="content">
    <link rel="stylesheet" href="/css/sellerManage/sellerProjectSearch.css">


    <th:block th:replace="/fragments/sellersidebar.html"></th:block>
    <title>seller-project-search</title>





        <div class="middle_box">
            <div class="middle">
                <div class="first">
                    <span>프로젝트 조회</span>
                </div>

                <div>
                    <img class="logo1" src="/images/01_logoimg/textLogoNone.png"  width="150px" height="150px" >
                </div>

            
            
                <div class="searchQnA"></div>
                <div class="searchright">
                    <form action="search" method="post">

                        <button class="iconlogo" type="submit" style="width: 20px; height: 20px; border: none; background: url('/images/04_etc/magnifying glass.png') center center / cover no-repeat; padding: 0;"></button>
                        <input type="text" name="search" required>
                        
                        <select name="sellerProject">
                            <option value="search"selected>검색설정</option>
                            <option value="pr">프로젝트명</option>
                            <option value="ti" >기간</option>
                            <option value="pr" >달성금액</option>
                            <option value="etc">달성여부</option>
                        </select>

                    </form>
                </div>
            

            <div>
                
                <table>
                    
                    <tr> 
                        <th>번호</th>
                        <th>프로젝트명</th>
                        <th>기간</th>
                        <th>달성금액</th>
                        <th>달성여부</th>
                    </tr>



                    <tr>
                        <td>1</td>
                        <td>풍미가 좋은 드라이에이징 삼겹살</td>
                        <td> 23. 11. 4 ~ 23. 12 . 10</td>
                        <td>9,500,000</td>
                        <td><span class="close">달성성공</span></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>풍미가 좋은 드라이에이징 삼겹살</td>
                        <td> 23. 9. 1 ~ 23. 10. 15</td>
                        <td>82,500,000</td>
                        <td><span class="close">달성성공</span></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>풍미가 좋은 드라이에이징 삼겹살</td>
                        <td> 23. 5. 20 ~ 23. 6. 29</td>
                        <td>6,500,000</td>
                        <td><span class="close">달성성공</span></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>쫄깃쫄깃 흑돼지 삼겹살</td>
                        <td> 23. 5. 22 ~ 23. 6. 29</td>
                        <td>7,500,000</td>
                        <td><span class="close">달성성공</span></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>쫄깃쫄깃 돼지 껍데기</td>
                        <td>23. 3. 2 ~ 23. 4. 12</td>
                        <td>3,200,000</td>
                        <td><span class="ing">달성실패</span></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>풍미가 좋은 드라이에이징 삼겹살</td>
                        <td> 22. 11. 12 ~ 22. 12. 12</td>
                        <td>6,500,000</td>
                        <td><span class="close">달성성공</span></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>풍미가 좋은 드라이에이징 삼겹살</td>
                        <td> 22. 11. 10 ~ 22. 12. 12</td>
                        <td>8,500,000</td>
                        <td><span class="close">달성성공</span></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>풍미가 좋은 드라이에이징 삼겹살</td>
                        <td> 22. 8. 12 ~ 22. 9. 12</td>
                        <td>9,500,000</td>
                        <td><span class="close">달성성공</span></td>
                    </tr>

                </table>

                <div class="pagination">
                    <div class="pagination-box">
                        <a href="#" class="prev">＜</a>
                        <div class="page-links">
                            <a href="#" class="page-link">1</a>
                            <a href="#" class="page-link">2</a>
                            <a href="#" class="page-link">3</a>

                        </div>
                        <a th:href="@{#}" class="next">＞</a>
                    </div>
                </div>
            </div>
        </div>
    
    </div>



</th:block>
</html>