<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block  layout:fragment="content">
    <link rel="stylesheet" href="/css/sellerManage/sellerProjectSearch.css">


    <th:block th:replace="/fragments/sellersidebar.html"></th:block>
    <title>seller-project-search</title>

        <div class="middle_box">
            <div class="middle">
                <div class="first">
                    <span>프로젝트 조회</span>
                </div>

                <div>
                    <img class="logo1" src="/images/01_logoimg/textLogoNone.png"  width="150px" height="150px" >
                </div>
                <form th:action="@{/sellerManage/Project}" method="get">


                    <div class="searchcontainer">
                        <!--                왼쪽 select 박스-->




                        <div class="searchProject"></div>
                <div class="searchright">
                        <button class="iconlogo" type="submit" style="width: 20px; height: 20px; border: none; background: url('/images/04_etc/magnifying glass.png') center center / cover no-repeat; padding: 0;"></button>
                    <input type="text" name="searchValue" id="searchValue" >
                        <select name="nation3" id="nation3">
                            <option selected>검색설정</option>
                            <option value="code">코드</option>
                            <option value="title">프로젝트명</option>
                            <option value="date" >기간</option>
                            <option value="tat" >목표금액</option>
                            <option value="ach">달성여부</option>
                        </select>

                </div>
                </div>

                </form>
            <div>

                <div class="table-area">
                    <table>

                        <tr>
                            <th>코드</th>
                            <th>프로젝트명</th>
                            <th>기간</th>
                            <th>달성금액</th>
                            <th>진행상황</th>
                            <th>달성여부</th>
                        </tr>

                        <tr th:each= "project : ${ Project }">
                            <td th:text="${project.code}" ></td>
                            <td th:text="${project.projectTitle}"></td>
                            <td th:text="${project.start + ' ~ ' + project.end}"></td>
                            <td class="amount" th:text="${project.amount}"></td>
                            <td class="progress" th:text="${project.progressStatus}"></td>
                            <td class="achieve" th:text="${project.achievementStatus}"></td>
                        </tr>

                    </table>
                </div>

<!--                페이지 처리-->


            </div>
        </div>
    
    </div>

    <script>



        //진행상태 조건문
        $(document).ready(function() {
            const achieveElements = document.querySelectorAll('.achieve');

            achieveElements.forEach(element => {
                const progressStat = element.parentElement.querySelector('.progress');
                const progressStatus = progressStat.textContent.trim();
                const achievementStatus = element.textContent.trim();

                // Remove white spaces from progressStatus and achievementStatus
                const trimmedProgressStatus = progressStatus.replace(/\s+/g, '');
                const trimmedAchievementStatus = achievementStatus.replace(/\s+/g, '');
                progressStat.innerText = trimmedProgressStatus;

                // Your conditions for updating the text content
                if (trimmedProgressStatus === '진행중') {
                    element.textContent = '진행중';
                } else if (trimmedProgressStatus === '마감' && trimmedAchievementStatus === 'N') {
                    element.textContent = '달성실패';
                } else if (trimmedProgressStatus === '마감' && trimmedAchievementStatus === 'Y') {
                    element.textContent = '달성성공';
                }else if (trimmedProgressStatus === '진행전' ) {
                    element.textContent = '진행전';
                }
            });
        });

        //가격 쉼표
        $(document).ready(function() {
            const amountElements = document.querySelectorAll('.amount');

            amountElements.forEach(element => {
                const amount = parseInt(element.textContent.trim().replace(',', '')); // Remove existing commas and convert to integer
                const formattedAmount = amount.toLocaleString(); // Format with commas

                element.textContent = formattedAmount;
            });
        });


    </script>
</th:block>
</html>