<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.semiproject.order.model.dao.PaymentMapper">

    <resultMap id="PaymentHistoryResultMap" type="com.ohgiraffers.semiproject.order.model.dto.PaymentHistoryDTO">
        <association property="payment" resultMap="PaymentResultMap"/>
        <association property="cart" resultMap="CartResultMap"/>
    </resultMap>

    <resultMap id="PaymentResultMap" type="com.ohgiraffers.semiproject.order.model.dto.PaymentDTO">
        <id property="code" column="PAYMENT_CODE"/>
        <result property="amount" column="TOTAL_AMOUNT"/>
        <result property="method" column="PAYMENT_METHOD"/>
        <result property="time" column="PAYMENT_DATE_TIME"/>
        <result property="status" column="PAYMENT_STATUS"/>
        <association property="deliverCode" resultMap="DeliverResultMap"/>
    </resultMap>



    <resultMap id="DeliverResultMap" type="com.ohgiraffers.semiproject.order.model.dto.DeliverDTO">
        <id property="code" column="DELIVERY_CODE"/>
        <result property="day" column="DELIVERY_DATE"/>
        <result property="status" column="DELIVERY_STATUS"/>
        <result property="request" column="DELIVERY_REQUEST"/>
        <association property="memberCode" resultMap="MemberMap"/>
    </resultMap>


    <resultMap id="MemberMap" type="com.ohgiraffers.semiproject.member.model.dto.MemberDTO">
        <id property="userCode" column="USER_CODE"/>
        <result property="userId" column="USER_ID"/>
        <result property="userPwd" column="PASSWORD"/>
        <result property="email" column="EMAIL"/>
        <result property="registrationDate" column="REGISTRATION_DATE"/>
        <result property="address" column="ADDRESS"/>
        <result property="userName" column="USER_NAME"/>
        <result property="dateBirth" column="DATE_BIRTH"/>
        <result property="phone" column="PHONE"/>
        <result property="activityStatus" column="ACTIVITY_STATUS"/>
        <result property="reportCount" column="REPORT_COUNT"/>
        <result property="couponStatus" column="COUPON_STATUS"/>
    </resultMap>




    <resultMap id="ProjectResultMap" type="com.ohgiraffers.semiproject.order.model.dto.ProjectDTO">
        <id property="code" column="PROJECT_CODE"/>
        <result property="title" column="PROJECT_TITLE"/>
        <result property="type" column="PROJECT_TYPE"/>
        <result property="amount" column="TARGET_AMOUNT"/>
        <result property="end" column="PROJECT_END_DATE"/>
        <result property="summary" column="PROJECT_SUMMARY"/>
        <result property="agree" column="POLICY_AGREEMENT"/>
        <result property="sellerType" column="SELLER_TYPE"/>
        <result property="status" column="ACHIEVEMENT_STATUS"/>
        <result property="start" column="PROJECT_START_DATE"/>
        <result property="progress" column="PROGRESS_STATUS"/>
        <association property="plan" resultMap="PlanResultMap"/>
        <association property="seller" resultMap="MemberMap"/>
        <association property="category" resultMap="ProjectCategoryResultMap"/>
    </resultMap>


    <resultMap id="PlanResultMap" type="com.ohgiraffers.semiproject.order.model.dto.PlanDTO">
        <id property="code" column="PLAN_CODE"/>
        <result property="name" column="PLAN_NAME"/>
        <result property="price" column="PRICE"/>
        <result property="detail" column="PLAN_DETAIL"/>
    </resultMap>



    <resultMap id="ProjectCategoryResultMap" type="com.ohgiraffers.semiproject.order.model.dto.ProjectCategoryDTO">
        <id property="code" column="CATEGORY_CODE"/>
        <result property="name" column="CATEGORY_NAME"/>
    </resultMap>


    <resultMap id="ProjectOptionResultMap" type="com.ohgiraffers.semiproject.order.model.dto.ProjectOptionDTO">
        <id property="code" column="OPTION_CODE"/>
        <result property="name" column="OPTION_NAME"/>
        <result property="type" column="OPTION_TYPE"/>
        <result property="price" column="PRICE"/>
        <result property="config" column="CONFIGURE"/>
        <association property="projectCode" resultMap="ProjectResultMap"/>
    </resultMap>



    <resultMap id="userResultMap" type="com.ohgiraffers.semiproject.order.model.dto.UserDTO">
        <id property="userCode" column="USER_CODE"/>
        <result property="name" column="USER_NAME"/>
        <result property="address" column="ADDRESS"/>
        <result property="email" column="EMAIL"/>
        <result property="phone" column="PHONE"/>
        <result property="projectTitle" column="PROJECT_TITLE"/>
        <result property="optionName" column="OPTION_NAME"/>
        <result property="price" column="PRICE"/>
        <result property="configure" column="CONFIGURE"/>
        <result property="amount" column="TOTAL_AMOUNT"/>
        <result property="optionType" column="OPTION_TYPE"/>
        <result property="coupon" column="COUPON_STATUS"/>
    </resultMap>


    <select id="user1" resultMap="userResultMap">
        SELECT
         A.USER_CODE,
         A.USER_NAME,
         A.ADDRESS,
         A.EMAIL,
         A.PHONE,
         A.COUPON_STATUS,
         C.PROJECT_TITLE,
         D.OPTION_NAME,
         D.PRICE,
         D.OPTION_TYPE,
         D.CONFIGURE


        FROM tbl_user A
                 JOIN tbl_cart B ON (A.USER_CODE = B.USER_CODE)
                 JOIN  tbl_project C ON (B.PROJECT_CODE = C.PROJECT_CODE)
                 JOIN  tbl_project_option D ON (B.OPTION_CODE = D.OPTION_CODE)

        WHERE A.USER_ID =  #{ userId }

    </select>







</mapper>