<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.semiproject.order.model.dao.PaymentMapper">

    <resultMap id="PaymentHistoryResultMap" type="com.ohgiraffers.semiproject.order.model.dto.PaymentHistoryDTO">
        <result property="changeName" column="CHANGED_FILE_NAME"/>
        <association property="payment" resultMap="PaymentResultMap"/>
        <association property="cart" resultMap="CartResultMap"/>
    </resultMap>

    <resultMap id="PaymentResultMap" type="com.ohgiraffers.semiproject.order.model.dto.PaymentDTO">
        <id property="code" column="PAYMENT_CODE"/>
        <result property="amount" column="TOTAL_AMOUNT"/>
        <result property="method" column="PAYMENT_METHOD"/>
        <result property="time" column="PAYMENT_DATE_TIME"/>
        <result property="status" column="PAYMENT_STATUS"/>
        <association property="deliverCode" resultMap="DeliverResultMap"/>
    </resultMap>



    <resultMap id="DeliverResultMap" type="com.ohgiraffers.semiproject.order.model.dto.DeliverDTO">
        <id property="code" column="DELIVERY_CODE"/>
        <result property="day" column="DELIVERY_DATE"/>
        <result property="status" column="DELIVERY_STATUS"/>
        <result property="request" column="DELIVERY_REQUEST"/>
        <association property="memberCode" resultMap="MemberMap"/>
    </resultMap>


    <resultMap id="MemberMap" type="com.ohgiraffers.semiproject.member.model.dto.MemberDTO">
        <id property="userCode" column="USER_CODE"/>
        <result property="userId" column="USER_ID"/>
        <result property="userPwd" column="PASSWORD"/>
        <result property="email" column="EMAIL"/>
        <result property="registrationDate" column="REGISTRATION_DATE"/>
        <result property="address" column="ADDRESS"/>
        <result property="userName" column="USER_NAME"/>
        <result property="dateBirth" column="DATE_BIRTH"/>
        <result property="phone" column="PHONE"/>
        <result property="activityStatus" column="ACTIVITY_STATUS"/>
        <result property="reportCount" column="REPORT_COUNT"/>
        <result property="couponStatus" column="COUPON_STATUS"/>
    </resultMap>




    <resultMap id="CartResultMap" type="com.ohgiraffers.semiproject.order.model.dto.CartDTO">
        <id property="code" column="CART_CODE"/>
        <result property="status" column="USAGE_STATUS"/>
        <result property="count" column="CART_COUNT"/>
        <association property="memberCode" resultMap="MemberMap"/>
        <association property="projectCode" resultMap="ProjectResultMap"/>
        <association property="projectOptionCode" resultMap="ProjectOptionResultMap"/>
    </resultMap>



    <resultMap id="ProjectResultMap" type="com.ohgiraffers.semiproject.order.model.dto.ProjectDTO">
        <id property="code" column="PROJECT_CODE"/>
        <result property="title" column="PROJECT_TITLE"/>
        <result property="type" column="PROJECT_TYPE"/>
        <result property="amount" column="TARGET_AMOUNT"/>
        <result property="end" column="PROJECT_END_DATE"/>
        <result property="summary" column="PROJECT_SUMMARY"/>
        <result property="agree" column="POLICY_AGREEMENT"/>
        <result property="sellerType" column="SELLER_TYPE"/>
        <result property="status" column="ACHIEVEMENT_STATUS"/>
        <result property="start" column="PROJECT_START_DATE"/>
        <result property="progress" column="PROGRESS_STATUS"/>
        <association property="plan" resultMap="PlanResultMap"/>
        <association property="seller" resultMap="MemberMap"/>
        <association property="category" resultMap="ProjectCategoryResultMap"/>
    </resultMap>


    <resultMap id="PlanResultMap" type="com.ohgiraffers.semiproject.order.model.dto.PlanDTO">
        <id property="code" column="PLAN_CODE"/>
        <result property="name" column="PLAN_NAME"/>
        <result property="price" column="PRICE"/>
        <result property="detail" column="PLAN_DETAIL"/>
    </resultMap>



    <resultMap id="ProjectCategoryResultMap" type="com.ohgiraffers.semiproject.order.model.dto.ProjectCategoryDTO">
        <id property="code" column="CATEGORY_CODE"/>
        <result property="name" column="CATEGORY_NAME"/>
    </resultMap>


    <resultMap id="ProjectOptionResultMap" type="com.ohgiraffers.semiproject.order.model.dto.ProjectOptionDTO">
        <id property="code" column="OPTION_CODE"/>
        <result property="name" column="OPTION_NAME"/>
        <result property="type" column="OPTION_TYPE"/>
        <result property="price" column="PRICE"/>
        <result property="config" column="CONFIGURE"/>
        <association property="projectCode" resultMap="ProjectResultMap"/>
    </resultMap>



    <resultMap id="userResultMap" type="com.ohgiraffers.semiproject.order.model.dto.UserDTO">
        <id property="userCode" column="USER_CODE"/>
        <result property="name" column="USER_NAME"/>
        <result property="address" column="ADDRESS"/>
        <result property="email" column="EMAIL"/>
        <result property="phone" column="PHONE"/>
        <result property="price" column="PRICE"/>
        <result property="configure" column="CONFIGURE"/>
        <result property="amount" column="TOTAL_AMOUNT"/>
        <result property="optionType" column="OPTION_TYPE"/>
        <result property="coupon" column="COUPON_STATUS"/>
        <result property="paymentStatus" column="PAYMENT_STATUS"/>
        <result property="deliverCode" column="DELIVERY_CODE"/>
        <result property="deliveryDate" column="DELIVERY_DATE"/>
        <result property="cartNumber" column="CART_CODE"/>
        <result property="count" column="CART_COUNT"/>
        <result property="changeName" column="CHANGED_FILE_NAME"/>
    </resultMap>


    <select id="buyHistory" resultMap="PaymentHistoryResultMap">
        SELECT
            A.PAYMENT_CODE,
            A.TOTAL_AMOUNT,
            A.PAYMENT_METHOD,
            A.PAYMENT_DATE_TIME,
            A.PAYMENT_STATUS,
            B.DELIVERY_DATE,
            B.DELIVERY_STATUS,
            D.USER_ID,
            D.USER_NAME,
            D.ADDRESS,
            D.PHONE,
            E.CART_COUNT,
            F.PROJECT_TITLE,
            G.OPTION_TYPE,
            G.PRICE

        FROM tbl_payment A
            JOIN tbl_delivery B ON (A.DELIVERY_CODE = B.DELIVERY_CODE)
            JOIN tbl_user D ON (B.USER_CODE = D.USER_CODE)
            JOIN tbl_payment_history C ON (A.PAYMENT_CODE = C.PAYMENT_CODE)
            JOIN tbl_cart E ON (C.CART_CODE = E.CART_CODE)
            JOIN tbl_project F ON (F.PROJECT_CODE = E.PROJECT_CODE)
            JOIN tbl_project_option G ON (E.OPTION_CODE = G.OPTION_CODE)
            JOIN tbl_project_file H ON (F.PROJECT_CODE = H.PROJECT_CODE)
        WHERE C.PAYMENT_CODE = #{paymentCode}



    </select>


    <select id="user1" resultMap="userResultMap">
        WITH RankedResults AS (
            SELECT
            A.USER_CODE,
            A.USER_NAME,
            A.ADDRESS,
            A.EMAIL,
            A.PHONE,
            A.COUPON_STATUS,
            B.CART_CODE,
            B.CART_COUNT,
            C.PROJECT_TITLE,
            C.PROJECT_CODE,
            D.OPTION_NAME,
            D.PRICE,
            D.OPTION_TYPE,
            D.CONFIGURE,
            E.DELIVERY_CODE,
            E.DELIVERY_DATE,
            F.PAYMENT_CODE,
            G.CHANGED_FILE_NAME,
            ROW_NUMBER() OVER (PARTITION BY B.CART_CODE ORDER BY A.USER_CODE) AS RowNum
            FROM
            tbl_user A
            JOIN tbl_cart B ON (A.USER_CODE = B.USER_CODE)
            JOIN tbl_project C ON (B.PROJECT_CODE = C.PROJECT_CODE)
            JOIN tbl_project_option D ON (B.OPTION_CODE = D.OPTION_CODE)
            JOIN tbl_delivery E ON (A.USER_CODE = E.USER_CODE)
            JOIN tbl_payment F ON (E.DELIVERY_CODE = F.DELIVERY_CODE)
            JOIN tbl_project_file G ON (C.PROJECT_CODE = G.PROJECT_CODE)
            WHERE
            A.USER_ID = #{userId}
            AND B.CART_CODE = #{cartCode}
            )
        SELECT
            USER_CODE,
            USER_NAME,
            ADDRESS,
            EMAIL,
            PHONE,
            COUPON_STATUS,
            CART_CODE,
            CART_COUNT,
            PROJECT_TITLE,
            PROJECT_CODE,
            OPTION_NAME,
            PRICE,
            OPTION_TYPE,
            CONFIGURE,
            DELIVERY_CODE,
            DELIVERY_DATE,
            PAYMENT_CODE,
            CHANGED_FILE_NAME
        FROM
            RankedResults
        WHERE
            RowNum = 1;

    </select>

    <update id="updateCount" >
        update tbl_cart
            SET CART_COUNT = #{count}
        WHERE CART_CODE = #{cartNo}
    </update>



        <insert id="insertPaymentInfo">
            INSERT INTO tbl_payment
            (
                PAYMENT_CODE,
                TOTAL_AMOUNT,
                PAYMENT_METHOD,
                PAYMENT_DATE_TIME,
                DELIVERY_CODE,
                PAYMENT_STATUS
            )
            VALUES
                (
                    null,
                    #{amount},
                    '카카오결제',
                    now(),
                    #{code},
                    default
                )
        </insert>

    <insert id="insertDeliverInfo" >
        INSERT INTO tbl_delivery
            (
                DELIVERY_CODE,
                DELIVERY_DATE,
                DELIVERY_STATUS,
                USER_CODE,
                DELIVERY_REQUEST,
                PURCHASE_CONFIRM,
                PURCHASE_CONFIRM_DATE
        )
        values (
                null,
                null,
                default,
                #{userCode},
                null,
                default,
                null
               )

    </insert>

    <select id="selectLastInsertdeliveryCode">
        SELECT last_insert_id()
        FROM tbl_delivery LIMIT 1;
    </select>


    <update id="deliverUserInfo">
        update tbl_user
            SET
            ADDRESS = #{address},
            PHONE = #{phone},
            USER_NAME = #{userName}
        WHERE USER_CODE =#{userCode}

    </update>

</mapper>