<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.semiproject.project.projectMake.model.dao.ProjectMakeMapper">


    <resultMap id="projectMake" type="com.ohgiraffers.semiproject.project.projectMake.model.dto.ProjectMakeDTO">
        <id property="sellerCode" column="SELLER_CODE"/>
        <result property="category" column="CATEGORY"/>
        <result property="type" column="TYPE"/>
        <result property="plan" column="PLAN"/>
        <result property="targetAmount" column="TARGET_AMOUNT"/>
        <result property="endDate" column="END_DATE"/>
        <result property="startDate" column="START_DATE"/>
        <result property="summary" column="SUMMARY"/>
        <result property="sellerType" column="SELLER_TYPE"/>
        <result property="tag" column="TAG"/>
        <result property="policy" column="POLICY"/>
        <result property="content" column="CONTENT"/>
    </resultMap>

    <resultMap id="projectCode" type="com.ohgiraffers.semiproject.project.projectMake.model.dto.ProjectDTO">
        <id property="projectCode" column="PROJECT_CODE"/>
        <result property="sellerInfo" column="SELLER_INFO"/>
    </resultMap>

    <resultMap id="businessMake" type="com.ohgiraffers.semiproject.project.projectMake.model.dto.BusinessMakeDTO">
        <id property="sellCode" column="SELL_CODE"/>
        <result property="busiName" column="BUSI_NAME"/>
        <result property="indu" column="INDU"/>
        <result property="estaDate" column="ESTA_DATE"/>
        <result property="home" column="HOME"/>
        <result property="loca" column="LOCA"/>
        <result property="busiPhone" column="BUSI_PHONE"/>
        <result property="busiLicenseNumber" column="BUSI_LICENSE_NUMBER"/>
        <result property="busiEmail" column="BUSI_EMAIL"/>
    </resultMap>

    <resultMap id="business" type="com.ohgiraffers.semiproject.project.projectMake.model.dto.BusinessDTO">
        <id property="businessCode" column="BUSINESS_CODE"/>
        <result property="userCode" column="USER_CODE"/>
    </resultMap>

    <resultMap id="projectFileMake" type="com.ohgiraffers.semiproject.project.projectMake.model.dto.ProjectMakeFileDTO">
        <id property="fCode" column="F_CODE"/>
        <result property="sCode" column="S_CODE"/>
        <result property="originFileName" column="ORIGIN_FILE_NAME"/>
        <result property="changeFileName" column="CHANGE_FILE_NAME"/>
        <result property="filePath" column="FILE_PATH"/>
        <result property="createDate" column="CREATE_DATE"/>
        <result property="type" column="TYPE"/>
    </resultMap>

    <resultMap id="businessFileMake" type="com.ohgiraffers.semiproject.project.projectMake.model.dto.BusinessFileMakeDTO">
        <id property="codeF" column="CODE_F"/>
        <result property="codeS" column="CODE_S"/>
        <result property="oriFileName" column="ORI_FILE_NAME"/>
        <result property="chanFileName" column="CHAN_FILE_NAME"/>
        <result property="fPath" column="F_PATH"/>
        <result property="dateCrea" column="DATE_CREA"/>
        <result property="fType" column="F_TYPE"/>
    </resultMap>

    <resultMap id="category" type="com.ohgiraffers.semiproject.project.projectMake.model.dto.ProjectCategoryDTO">
        <id property="categoryCode" column="CATEGORY_CODE"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
    </resultMap>

    <resultMap id="plan" type="com.ohgiraffers.semiproject.project.projectMake.model.dto.PlanDTO">
        <id property="planCode" column="PLAN_CODE"/>
        <result property="planName" column="PLAN_NAME"/>
    </resultMap>

    <insert id="projectStart" parameterType="com.ohgiraffers.semiproject.project.projectMake.model.dto.ProjectMakeDTO">
        insert into tbl_project_make (
            TITLE,
            CATEGORY,
            TYPE,
            PLAN,
            TARGET_AMOUNT,
            END_DATE,
            START_DATE,
            SUMMARY,
            SELLER_TYPE,
            SELLER_CODE)
        values (
                   null,
                   #{category},
                   null,
                   null,
                   null,
                   null,
                   null,
                   null,
                   null,
                   #{sellerCode}
               );
    </insert>

    <select id="whatIsYourProjectCode" parameterType="com.ohgiraffers.semiproject.project.projectMake.model.dto.ProjectMakeDTO">
        select
            *
        from
            tbl_project_make
        where
            SELLER_CODE = #{sellerCode}
    </select>

    <update id="basicInfoUpdate" parameterType="com.ohgiraffers.semiproject.project.projectMake.model.dto.ProjectMakeDTO">
        update tbl_project_make
        set END_DATE = #{endDate},
            TITLE = #{title},
            TAG = #{tag},
            START_DATE = #{startDate}
        where
            SELLER_CODE = #{sellerCode}
            ;
    </update>

    <update id="projectStartUpdate" parameterType="com.ohgiraffers.semiproject.project.projectMake.model.dto.ProjectMakeDTO">
        update tbl_project_make
        set CATEGORY = #{category}
        where
            SELLER_CODE = #{sellerCode}
        ;
    </update>

    <select id="selectMakingProject"
    resultMap="projectMake">
        select
            *
        from
            tbl_project_make
        where
            SELLER_CODE = #{code}
    </select>

    <update id="typeAndTargetUpdate" parameterType="com.ohgiraffers.semiproject.project.projectMake.model.dto.ProjectMakeDTO">
        update tbl_project_make
        set TARGET_AMOUNT = #{targetAmount},
            TYPE = #{type},
            SELLER_TYPE = #{sellerType}
        where
            SELLER_CODE = #{sellerCode}
        ;
    </update>

    <update id="busiEmailUpdate" parameterType="com.ohgiraffers.semiproject.project.projectMake.model.dto.BusinessMakeDTO">
        update tbl_business_make
        set BUSI_EMAIL = #{busiEmail}
        where
            SELL_CODE = #{sellCode}
        ;
    </update>

    <select id="alreadyExist" parameterType="com.ohgiraffers.semiproject.project.projectMake.model.dto.BusinessMakeDTO"
    resultMap="businessMake">
        select
            *
        from
            tbl_business_make
        where
            SELL_CODE = #{sellCode}
    </select>

    <insert id="businessInsert" parameterType="com.ohgiraffers.semiproject.project.projectMake.model.dto.BusinessMakeDTO">

    insert into tbl_business_make (
            SELL_CODE,
            BUSI_NAME,
            INDU,
            ESTA_DATE,
            HOME,
            LOCA,
            BUSI_PHONE,
            BUSI_LICENSE_NUMBER,
            BUSI_EMAIL)
        values (
                   #{sellCode},
                   null,
                   null,
                   null,
                   null,
                   null,
                   null,
                   null,
                   #{busiEmail}
               );
    </insert>

    <select id="selectBusiness" resultMap="businessMake">
        select
            *
        from
            tbl_business_make
        where
            SELL_CODE = #{sellCode}
    </select>

    <update id="planUpdate" parameterType="com.ohgiraffers.semiproject.project.projectMake.model.dto.ProjectMakeDTO">
        update tbl_project_make
        set PLAN = #{plan}
        where
            SELLER_CODE = #{sellerCode}
        ;
    </update>

    <update id="policyUpdate" parameterType="_int">
        update tbl_project_make
        set POLICY = 'Y'
        where
            SELLER_CODE = #{code}
        ;
    </update>

    <insert id="insertAttachment">
        insert into tbl_project_make_file(ORIGIN_FILE_NAME,
                                          F_CODE,
                                          S_CODE,
                                          CHANGE_FILE_NAME,
                                          FILE_PATH,
                                          CREATE_DATE,
                                          TYPE)
        values (
                #{originFileName},
                null,
                #{sCode},
                #{changeFileName},
                #{filePath},
                now(),
                #{type}
               );
    </insert>

    <select id="selectFileProject">
        select
            *
        from
            tbl_project_make_file
        where
            TYPE = 'Representative_image'
        and
            S_CODE = #{code}
    </select>


    <delete id="deleteMainPicture">
        delete
        from tbl_project_make_file
        where
            TYPE = 'Representative_image'
        and
            S_CODE = #{code}
    </delete>

    <insert id="registBusinessLicense">
        insert into tbl_business_file_make (
                                            CODE_F,
                                            CODE_S,
                                            ORI_FILE_NAME,
                                            CHAN_FILE_NAME,
                                            F_PATH,
                                            DATE_CREA,
                                            F_TYPE)
        values (
                   null,
                   #{sCode},
                   #{originFileName},
                   #{changeFileName},
                   #{filePath},
                   now(),
                   #{type}
               );
    </insert>

    <select id="selectBusinessFile">
        select
            *
        from
            tbl_business_file_make
        where
            CODE_S = #{code}
        and
            F_TYPE = 'Business_license'
    </select>

    <insert id="registProjectDetailImg">
        insert into tbl_project_make_file(ORIGIN_FILE_NAME,
                                          F_CODE,
                                          S_CODE,
                                          CHANGE_FILE_NAME,
                                          FILE_PATH,
                                          CREATE_DATE,
                                          TYPE)
        values (
                   #{originFileName},
                   null,
                   #{sCode},
                   #{changeFileName},
                   #{filePath},
                   now(),
                   #{type}
               );
    </insert>

    <update id="updateProjectContent">
        update tbl_project_make
        set
            CONTENT = #{content}
        where
            SELLER_CODE = #{sellerCode}
            ;
    </update>

    <insert id="projectStoryImages">
        insert into tbl_project_make_file
            (
             ORIGIN_FILE_NAME,
             F_CODE,
             S_CODE,
             CHANGE_FILE_NAME,
             FILE_PATH,
             CREATE_DATE,
             TYPE)
        values
            <foreach collection="list" item="item" separator=",">
                (
                 #{item.originFileName},
                 null,
                 #{item.sCode},
                 #{item.changeFileName},
                 #{item.filePath},
                 now(),
                'Detailed_image_image'
                )
            </foreach>


    </insert>

    <update id="updateSummary">
        update tbl_project_make
        set
            summary = #{summary}
        where
            SELLER_CODE = #{sellerCode}
    </update>

    <insert id="moveProject">
        insert into tbl_project (
                                 PROJECT_CODE,
                                 PROJECT_TITLE,
                                 PROJECT_CATEGORY,
                                 PROJECT_TYPE,
                                 PROJECT_PLAN,
                                 SELLER_INFO,
                                 TARGET_AMOUNT,
                                 PROJECT_END_DATE,
                                 PROJECT_SUMMARY,
                                 POLICY_AGREEMENT,
                                 SELLER_TYPE,
                                 ACHIEVEMENT_STATUS,
                                 PROJECT_START_DATE,
                                 PROGRESS_STATUS,
                                 SUBMISSION_DATE,
                                 CONTENT)
        values (
                null,
                #{title},
                #{category},
                #{type},
                #{plan},
                #{sellerCode},
                #{targetAmount},
                #{endDate},
                #{summary},
                #{policy},
                #{sellerType},
                default,
                #{startDate},
                default,
                now(),
                #{content}
               );
    </insert>

    <select id="findCategory">
        select
            CATEGORY_CODE
        from
            tbl_project_category
        where
            CATEGORY_NAME = #{category}
    </select>

    <select id="findPlan">
        select
            PLAN_CODE
        from
            tbl_plan
        where
            PLAN_NAME = #{plan}
    </select>

    <insert id="moveProjectFile">
        insert into tbl_project_file
            (
             FILE_CODE,
             ORIGINAL_FILE_NAME,
             CHANGED_FILE_NAME,
             PATH,
             CREATION_DATE,
             DELETE_STATUS,
             FILE_TYPE,
             PROJECT_CODE)
        values
            (
            null,
            #{originFileName},
            #{changeFileName},
            #{filePath},
            now(),
            default,
            #{type},
            #{projectCode}
        )
    </insert>

    <select id="selectAllFileProject" resultMap="projectFileMake">
        select
            *
        from
            tbl_project_make_file
        where
            S_CODE = #{code}
    </select>

    <select id="findProjectCode" resultMap="projectCode">
        select
            PROJECT_CODE
        from
            tbl_project
        where
            SELLER_INFO = #{code}
    </select>

    <insert id="moveBusiness" parameterType="com.ohgiraffers.semiproject.project.projectMake.model.dto.BusinessMakeDTO">
        insert into tbl_private_business
            (
             BUSINESS_CODE,
             BUSINESS_NAME,
             INDUSTRY,
             ESTABLISHMENT_DATE,
             HOMEPAGE,
             LOCATION,
             BUSINESS_PHONE,
             BUSINESS_LICENSE_NUMBER,
             USER_CODE,
             BUSINESS_EMAIL)
        values (
                null,
                #{busiName},
                #{indu},
                #{estaDate},
                #{home},
                #{loca},
                #{busiPhone},
                #{busiLicenseNumber},
                #{sellCode},
                #{busiEmail}
               );
    </insert>

    <update id="updateBusiness" parameterType="com.ohgiraffers.semiproject.project.projectMake.model.dto.BusinessMakeDTO">
        update tbl_business_make
        set
            BUSI_NAME = #{busiName},
            INDU = #{indu},
            ESTA_DATE = #{estaDate},
            HOME = #{home},
            LOCA = #{loca},
            BUSI_PHONE = #{busiPhone},
            BUSI_LICENSE_NUMBER = #{busiLicenseNumber}
        where
            SELL_CODE = #{sellCode}
    </update>

    <select id="findBusinessCode" resultMap="business">
        select
            BUSINESS_CODE
        from
            tbl_private_business
        where
            USER_CODE = #{code}
    </select>

    <insert id="moveBusinessFile">
        insert into
            tbl_business_file
            (
             FILE_CODE,
             ORIGINAL_FILE_NAME,
             CHANGED_FILE_NAME,
             PATH,
             DELETE_STATUS,
             CREATION_DATE,
             BUSINESS_CODE,
             FILE_TYPE)
        values (
                null,
                #{oriFileName},
                #{chanFileName},
                #{fPath},
                default,
                #{dateCrea},
                #{businessCode},
                #{fType}
               );
    </insert>

    <delete id="deleteMakeProject">
        delete
        from tbl_project_make
        where
            SELLER_CODE = #{code}
            ;
    </delete>

    <delete id="deleteMakeProjectFile">
        delete
        from tbl_project_make_file
        where
            S_CODE = #{code}
        ;
    </delete>

    <delete id="deleteBusinessMake">
        delete
        from tbl_business_make
        where
            SELL_CODE = #{code}
        ;
    </delete>

    <delete id="deleteBusinessFileMake">
        delete
        from tbl_business_file_make
        where
            CODE_S = #{code}
        ;
    </delete>

    <update id="updateThumbnail">
        update
            tbl_project_make_file
        set
            ORIGIN_FILE_NAME = #{originFileName},
            CHANGE_FILE_NAME = #{changeFileName},
            FILE_PATH = #{filePath},
            CREATE_DATE = now()
        where
            S_CODE = #{sCode}
        and
            TYPE = 'Representative_image'
            ;
    </update>

    <insert id="insertTag">
        insert into
            tbl_project_tag
            (
             TAG_CODE,
             PROJECT_CODE,
             TAG_NAME
            )
        values (
                null,
                #{projectCode},
                #{str}
               );
    </insert>





</mapper>