<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.semiproject.project.product.model.dao.ProjectDetailMapper">

            <resultMap id="projectResultMap" type="com.ohgiraffers.semiproject.project.product.model.dto.ProjectDTO">
                <id property="projectCode" column="PROJECT_CODE"/>
                <result property="projectTitle" column="PROJECT_TITLE"/>
                <result property="projectCategory" column="PROJECT_CATEGORY"/>
                <result property="projectType" column="PROJECT_TYPE"/>
                <result property="plan" column="PROJECT_PLAN"/>
                <result property="sellerInfo" column="SELLER_INFO"/>
                <result property="targetAmount" column="TARGET_AMOUNT"/>
                <result property="projectEndDate" column="PROJECT_END_DATE"/>
                <result property="projectSummary" column="PROJECT_SUMMARY"/>
                <result property="policyAgreement" column="POLICY_AGREEMENT"/>
                <result property="sellerType" column="SELLER_TYPE"/>
                <result property="achievementStatus" column="ACHIEVEMENT_STATUS"/>
                <result property="projectStartDate" column="PROJECT_START_DATE"/>
                <result property="progressStatus" column="PROGRESS_STATUS"/>
            </resultMap>

        <resultMap id="totalStoryList" type="com.ohgiraffers.semiproject.project.product.model.dto.TotalStoryDTO">
            <association property="projectDTO" resultMap="projectResultMap"/>
            <association property="projectFileDTO" resultMap="projectFileResult"/>
            <association property="projectOptionDTO" resultMap="projectOptionResult"/>
            <association property="privateBusinessDTO" resultMap="businessResultMap"/>
            <association property="profileImageDTO" resultMap="profileImageResult"/>
            <association property="projectUserDTO" resultMap="userResultMap"/>
        </resultMap>




            <resultMap id="userResultMap" type="com.ohgiraffers.semiproject.project.product.model.dto.ProjectUserDTO">
                <id property="userCode" column="USER_CODE"/>
                <result property="userId" column="USER_ID"/>
                <result property="password" column="PASSWORD"/>
                <result property="email" column="EMAIL"/>
                <result property="registrationDate" column="REGISTRATION_DATE"/>
                <result property="address" column="ADDRESS"/>
                <result property="userName" column="USER_NAME"/>
                <result property="dateBirth" column="DATE_BIRTH"/>
                <result property="phone" column="PHONE"/>
                <result property="activityStatus" column="ACTIVITY_STATUS"/>
                <result property="reportCount" column="REPORT_COUNT"/>
                <result property="couponStatus" column="COUPON_STATUS"/>
            </resultMap>

            <resultMap id="businessResultMap" type="com.ohgiraffers.semiproject.project.product.model.dto.PrivateBusinessDTO">
                <id property="businessCode" column="BUSINESS_CODE"/>
                <result property="businessName" column="BUSINESS_NAME"/>
                <result property="industry" column="INDUSTRY"/>
                <result property="establishmentDate" column="ESTABLISHMENT_DATE"/>
                <result property="homepage" column="HOMEPAGE"/>
                <result property="location" column="LOCATION"/>
                <result property="businessPhone" column="BUSINESS_PHONE"/>
                <result property="businessLicenseNumber" column="BUSINESS_LICENSE-NUMBER"/>
                <result property="userCode" column="USER_CODE"/>
                <result property="businessEmail" column="BUSINESS_EMAIL"/>
            </resultMap>

            <resultMap id="profileImageResult" type="com.ohgiraffers.semiproject.project.product.model.dto.ProfileImageDTO">
                <id property="fileCode" column="FILE_CODE"/>
                <result property="originalFileName" column="ORIGINAL_FILE_NAME"/>
                <result property="path" column="PATH"/>
                <result property="changedProFileName" column="CHANGEDPRO_FILE_NAME"/>
                <result property="deleteStatus" column="DELETE_STATUS"/>
                <result property="creationDate" column="CREATION_DATE"/>
                <result property="userCode" column="USER_CODE"/>
            </resultMap>

    <resultMap id="projectOptionResult" type="com.ohgiraffers.semiproject.project.product.model.dto.ProjectOptionDTO">
        <id property="optionCode" column="OPTION_CODE"/>
        <result property="optionName" column="OPTION_NAME"/>
        <result property="optionType" column="OPTION_TYPE"/>
        <result property="price" column="PRICE"/>
        <result property="configure" column="CONFIGURE"/>
        <result property="projectCode" column="PROJECT_CODE"/>
    </resultMap>

    <resultMap id="projectFileResult" type="com.ohgiraffers.semiproject.project.product.model.dto.ProjectFileDTO">
        <id property="fileCode" column="FILE_CODE"/>
        <result property="originalFileName" column="ORIGINAL_FILE_NAME"/>
        <result property="changedFileName" column="CHANGED_FILE_NAME"/>
        <result property="path" column="PATH"/>
        <result property="creationDate" column="CREATION_DATE"/>
        <result property="deleteStatus" column="DELETE_STATUS"/>
        <result property="fileType" column="FILE_TYPE"/>
        <result property="projectCode" column="PROJECT_CODE"/>

    </resultMap>

        <select id="totalStoryList" resultMap="totalStoryList">
            select
                A.PROJECT_TITLE,
                A.PROJECT_SUMMARY,
                B.CHANGED_FILE_NAME,
                C.OPTION_NAME,
                A.ACHIEVEMENT_STATUS,
                A.PROJECT_END_DATE,
                A.TARGET_AMOUNT,
                A.SELLER_INFO,
                C.OPTION_TYPE,
                C.PRICE,
                C.CONFIGURE,
                E.BUSINESS_NAME,
                E.BUSINESS_EMAIL,
                E.HOMEPAGE,
                D.CHANGEDPRO_FILE_NAME
            FROM TBL_PROJECT A
                     JOIN TBL_PROJECT_FILE B ON (A.PROJECT_CODE = B.PROJECT_CODE)
                     JOIN TBL_PROJECT_OPTION C ON (A.PROJECT_CODE = C.PROJECT_CODE)
                     JOIN tbl_profile_image D ON (B.FILE_CODE = D.FILE_CODE)
                     JOIN tbl_private_business E ON (D.USER_CODE = E.USER_CODE)
            where A.PROJECT_CODE = 1;
      </select>



</mapper>