<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.semiproject.manager.search.model.dao.SearchUserMapper">

    <resultMap id="userResultMap" type="UserDTO">
        <id property="userCode" column="USER_CODE"/>
        <result property="userId" column="USER_ID"/>
        <result property="password" column="PASSWORD"/>
        <result property="email" column="EMAIL"/>
        <result property="registrationDate" column="REGISTRATION_DATE"/>
        <result property="address" column="ADDRESS"/>
        <result property="userName" column="USER_NAME"/>
        <result property="dateBirth" column="DATE_BIRTH"/>
        <result property="phone" column="PHONE"/>
        <result property="activityStatus" column="ACTIVITY_STATUS"/>
        <result property="reportCount" column="REPORT_COUNT"/>
        <result property="couponStatus" column="COUPON_STATUS"/>
    </resultMap>

    <resultMap id="cartResultMap" type="CartDTO">
        <id property="cartCode" column="CART_CODE"/>
        <result property="projectCode" column="PROJECT_CODE"/>
        <result property="optionCode" column="OPTION_CODE"/>
        <result property="usageStatus" column="USAGE_STATUS"/>
        <association property="userCode" resultMap="userResultMap"/>
    </resultMap>

    <resultMap id="paymentResultMap" type="PaymentDTO">
        <id property="paymentCode" column="PAYMENT_CODE"/>
        <result property="totalAmount" column="TOTAL_AMOUNT"/>
        <result property="paymentMethod" column="PAYMENT_METHOD"/>
        <result property="paymentDateTime" column="PAYMENT_DATE_TIME"/>
        <result property="deliveryCode" column="DELIVERY_CODE"/>
        <result property="paymentStatus" column="PAYMENT_STATUS"/>
    </resultMap>

    <resultMap id="projectCategoryResultMap" type="ProjectCategoryDTO">
        <id property="categoryCode" column="CATEGORY_CODE"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
    </resultMap>

    <resultMap id="planResultMap" type="PlanDTO">
        <id property="planCode" column="PLAN_CODE"/>
        <result property="planName" column="PLAN_NAME"/>
        <result property="price" column="PRICE"/>
        <result property="planDetail" column="PLAN_DETAIL"/>
    </resultMap>

    <resultMap id="projectResultMap" type="ProjectDTO">
        <id property="projectCode" column="PROJECT_CODE"/>
        <result property="projectTitle" column="PROJECT_TITLE"/>
        <result property="projectType" column="PROJECT_TYPE"/>
        <result property="targetAmount" column="TARGET_AMOUNT"/>
        <result property="projectEndDate" column="PROJECT_END_DATE"/>
        <result property="projectSummary" column="PROJECT_SUMMARY"/>
        <result property="policyAgreement" column="POLICY_AGREEMENT"/>
        <result property="sellerType" column="SELLER_TYPE"/>
        <result property="achievementStatus" column="ACHIEVEMENT_STATUS"/>
        <result property="projectStartDate" column="PROJECT_START_DATE"/>
        <result property="progressStatus" column="PROGRESS_STATUS"/>
        <association property="projectCategory" column="projectCategoryResultMap"/>
        <association property="projectPlan" column="planResultMap"/>
        <association property="sellerInfo" column="userResultMap"/>
    </resultMap>

    <resultMap id="paymentHistoryResultMap" type="PaymentHistoryDTO">
        <association property="paymentCode" resultMap="paymentResultMap"/>
        <association property="cartCode" resultMap="cartResultMap"/>
    </resultMap>



    <select id="findAllUser" resultMap="userResultMap">
        SELECT
            A.USER_CODE,
            A.USER_ID,
            A.PASSWORD,
            A.EMAIL,
            A.REGISTRATION_DATE,
            A.ADDRESS,
            A.USER_NAME,
            A.DATE_BIRTH,
            A.PHONE,
            A.ACTIVITY_STATUS,
            A.REPORT_COUNT,
            A.COUPON_STATUS
        FROM
            TBL_USER A

    </select>

    <select id="userDetail" resultMap="paymentHistoryResultMap">
        SELECT
            D.USER_CODE,
            D.USER_ID,
            D.PASSWORD,
            D.EMAIL,
            D.REGISTRATION_DATE,
            D.ADDRESS,
            D.USER_NAME,
            D.DATE_BIRTH,
            D.PHONE,
            D.ACTIVITY_STATUS,
            D.REPORT_COUNT,
            D.COUPON_STATUS,
            E.PROJECT_TITLE,
            E.SELLER_INFO,
            E.PROJECT_START_DATE,
            E.PROJECT_END_DATE,
            E.ACHIEVEMENT_STATUS
        FROM TBL_PAYMENT_HISTORY A
        JOIN TBL_PAYMENT B ON (A.PAYMENT_CODE = B.PAYMENT_CODE)
        JOIN TBL_CART C ON (A.CART_CODE = C.CART_CODE)
        JOIN TBL_USER D ON (C.USER_CODE = D.USER_CODE)
        JOIN TBL_PROJECT E ON (C.PROJECT_CODE = E.PROJECT_CODE)

    </select>
</mapper>