<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.semiproject.manager.search.model.dao.SearchUserMapper">


    <resultMap id="userResultMap" type="com.ohgiraffers.semiproject.manager.search.model.dto.UserDTO">
        <id property="userCode" column="USER_CODE"/>
        <result property="userId" column="USER_ID"/>
        <result property="password" column="PASSWORD"/>
        <result property="email" column="EMAIL"/>
        <result property="registrationDate" column="REGISTRATION_DATE"/>
        <result property="address" column="ADDRESS"/>
        <result property="userName" column="USER_NAME"/>
        <result property="dateBirth" column="DATE_BIRTH"/>
        <result property="phone" column="PHONE"/>
        <result property="activityStatus" column="ACTIVITY_STATUS"/>
        <result property="reportCount" column="REPORT_COUNT"/>
        <result property="couponStatus" column="COUPON_STATUS"/>
    </resultMap>

        <resultMap id="cartResultMap" type="com.ohgiraffers.semiproject.manager.search.model.dto.CartDTO">
            <id property="cartCode" column="CART_CODE"/>
            <result property="userCode" column="USER_CODE"/>
            <result property="optionCode" column="OPTION_CODE"/>
            <result property="usageStatus" column="USAGE_STATUS"/>
            <association property="projectCode" resultMap="projectResultMap"/>
        </resultMap>

        <resultMap id="userReportHistoryResultMap" type="com.ohgiraffers.semiproject.manager.search.model.dto.UserReportHistoryDTO">
            <id property="creationNumber" column="CREATION_NUMBER"/>
            <result property="creationDate" column="CREATION_DATE"/>
            <result property="reporter" column="REPORTER"/>
            <result property="title" column="TITLE"/>
            <result property="content" column="CONTENT"/>
            <result property="reportedPerson" column="REPORTED_PERSON"/>
        </resultMap>

        <resultMap id="projectResultMap" type="com.ohgiraffers.semiproject.manager.search.model.dto.ProjectDTO">
            <id property="projectCode" column="PROJECT_CODE"/>
            <result property="projectTitle" column="PROJECT_TITLE"/>
            <result property="projectStartDate" column="PROJECT_START_DATE"/>
            <result property="projectEndDate" column="PROJECT_END_DATE"/>
            <result property="achievementStatus" column="ACHIEVEMENT_STATUS"/>
            <association property="sellerInfo" resultMap="userResultMap"/>
        </resultMap>

        <resultMap id="paymentHistoryResultMap" type="com.ohgiraffers.semiproject.manager.search.model.dto.PaymentHistoryDTO">
            <result property="paymentCode" column="PAYMENT_CODE"/>
            <association property="cartCode" resultMap="cartResultMap"/>
        </resultMap>



    <select id="findAllUser" resultMap="userResultMap">
        SELECT
            A.USER_CODE,
            A.USER_ID,
            A.PASSWORD,
            A.EMAIL,
            A.REGISTRATION_DATE,
            A.ADDRESS,
            A.USER_NAME,
            A.DATE_BIRTH,
            A.PHONE,
            A.ACTIVITY_STATUS,
            A.REPORT_COUNT,
            A.COUPON_STATUS
        FROM
            TBL_USER A
        <if test="nation3!=null and !nation3.equals('')">
        <where>

            <if test="nation3 == 'name'">
                A.USER_NAME LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="nation3 == 'id'">
                A.USER_ID LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="nation3 == 'password'">
                A.PASSWORD LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="nation3 == 'phone'">
                A.PHONE LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="nation3 == 'birth'">
                A.DATE_BIRTH LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="nation3 == 'active'">
                A.ACTIVITY_STATUS LIKE CONCAT('%', #{ searchValue }, '%')
            </if>

        </where>
        </if>

        ORDER BY
        <if test="nation1 == 'name' or nation1==null or nation1.equals('')">
            A.USER_NAME
        </if>
        <if test="nation1 == 'id'">
            A.USER_ID
        </if>
        <if test="nation1 == 'password'">
            A.PASSWORD
        </if>
        <if test="nation1 == 'phone'">
            A.PHONE
        </if>
        <if test="nation1 == 'birth'">
            A.DATE_BIRTH
        </if>
        <if test="nation2 == 'acs' or nation2==null or nation2.equals('')">
            ASC
        </if>
        <if test="nation2 == 'decs'">
            DESC
        </if>
        LIMIT  #{ startRow }, 3
    </select>

        <select id="userBuy" parameterType="long" resultMap="cartResultMap">
            select A.CART_CODE,
                   A.PROJECT_CODE,
                   A.OPTION_CODE,
                   B.PROJECT_TITLE,
                   B.SELLER_INFO,
                   C.USER_NAME,
                   B.PROJECT_END_DATE,
                   B.PROJECT_START_DATE,
                   B.ACHIEVEMENT_STATUS

            from tbl_cart A
                     join tbl_project B ON (A.PROJECT_CODE = B.PROJECT_CODE)
                     join tbl_user C ON (B.SELLER_INFO = C.USER_CODE)
            where A.USER_CODE = #{no}
              and exists(select B.*
                         from tbl_payment_history B
                         where B.CART_CODE = A.CART_CODE)
        </select>

        <select id="userReport" parameterType="long" resultMap="userReportHistoryResultMap">
            select
                TITLE,
                CONTENT,
                CREATION_DATE
            from
                TBL_USER_REPORT_HISTORY
            where
                REPORTED_PERSON = #{no}
        </select>

        <select id="userFundingProject" parameterType="long" resultMap="projectResultMap">
            select
                PROJECT_CODE,
                PROJECT_TITLE,
                PROJECT_END_DATE,
                PROJECT_START_DATE,
                ACHIEVEMENT_STATUS
            from TBL_PROJECT
            where SELLER_INFO = #{no}
        </select>

    <select id="findOneUser" parameterType="long" resultMap="userResultMap">
        SELECT
            A.USER_CODE,
            A.USER_ID,
            A.PASSWORD,
            A.EMAIL,
            A.REGISTRATION_DATE,
            A.ADDRESS,
            A.USER_NAME,
            A.DATE_BIRTH,
            A.PHONE,
            A.ACTIVITY_STATUS,
            A.REPORT_COUNT,
            A.COUPON_STATUS
        FROM
            TBL_USER A
        where
            A.USER_CODE = #{no}

    </select>

    <select id="selectTotalCount" resultType="_int" parameterType="hashmap">
        SELECT
            COUNT(*)
--         (*) : 행의 수를 카운트한다.
        FROM TBL_USER A
        <if test="nation3!=null and !nation3.equals('')">
        <where>
        <if test="nation3 == 'name'">
            A.USER_NAME LIKE CONCAT('%', #{ searchValue }, '%')
        </if>
        <if test="nation3 == 'id'">
            A.USER_ID LIKE CONCAT('%', #{ searchValue }, '%')
        </if>
        <if test="nation3 == 'password'">
            A.PASSWORD LIKE CONCAT('%', #{ searchValue }, '%')
        </if>
        <if test="nation3 == 'phone'">
            A.PHONE LIKE CONCAT('%', #{ searchValue }, '%')
        </if>
        <if test="nation3 == 'birth'">
            A.DATE_BIRTH LIKE CONCAT('%', #{ searchValue }, '%')
        </if>
        <if test="nation3 == 'active'">
            A.ACTIVITY_STATUS LIKE CONCAT('%', #{ searchValue }, '%')
        </if>
        </where>
        </if>
    </select>


</mapper>