<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block  layout:fragment="content">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/payment/buypage.css}">


    <div id="body" >
        <form th:action="@{/order/buyok}" method="post">

        <div id="left">
            <div class="payment-info">
                <div style="float: left;">
                    <a th:href="@{/order/cart}"><img src="/images/minicon/backbtn.jpg" width="25px"
                            height="25px"></a>
                </div>
                <div>
                    <h2>결제정보</h2>
                </div>
            </div>

            <div class="payment-area">

                <div class="payment-product" >

                    <h4>결제상품</h4>
                    <div style="float: left;">
                        <a th:href="@{/product/productStory}"><img
                                src="/images/minicon/TT.jpg" width="60px" height="60px"></a>
                    </div>

                    <div class="menu-item">
                        <span class="menu-name" id="projectTitleCheck" th:text="${projectTitle}"></span>
                        <span  class="menu-price" name="price"></span>
                    </div>


                    <div id="counter-container">
                        <div id="counter-controls" name="count">
                            <span  id="count" th:text="${counterProduct}">  </span>

                        </div>
                    </div>
                </div>
            </div>




            <div class="bilge">


                    <div class="coupon-action">

                        <div> </div>&nbsp;&nbsp;&nbsp;&nbsp;
                   </div>


                <div class="total-product-amount" >
                    <span class="total-amount">상품 전체금액</span>
                    <span class="hdTotalPrice" name="total" id="hdTotalPrice" th:text="${hdTotalPrice}"></span>
                </div>
                <div class="apply-coupon">
                    <span class="total-amount" >쿠폰 적용금액</span>
                    <span class="coupon-price" id="hdCouponPrice" th:text="${hdCouponPrice}"></span>
                </div>
                <div class="delivery-fee">
                    <span class="shipping-cost">배송비</span>
                    <span class="cost" id="hdDeliveryCost" th:text="${hdDeliveryCost}"></span>
                </div>
                <div class="final-amount">
                    <span class="gun-cost">총금액</span>
                    <span class="gun-won"  id="hdGunWon" th:text="${hdGunWon}"></span>

                </div>

            </div>

            <a  class="payment-con">
                <button class="payment" type="button">결제</button>
            </a>

        </div>



        <div class="right">

        <div id="right">
            <div id="progress">
                <span><div class="pay">주문/결제</div></span>&mdash;<span><img src="/images/minicon/uncheckbtn.PNG" class="uncheck"></span>&mdash;<span>배송중</span>&mdash;<span><img src="/images/minicon/uncheckbtn.PNG" class="uncheck"></span>&mdash;<span>배송완료</span>
            </div>

            <div class="orderer-info-con">
                <div class="orderer-info">

                <h4>주문자 정보</h4>
                <div class="name">
                    <div class="firstname">
                        <div>성</div>
                        <input type="text" name="firstname" id="firstname"  required>&nbsp;
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="lastname">
                        <div>이름</div>
                        <input type="text" name="lastname" id="lastname" required>&nbsp;
                    </div>
                </div>
                <div class="email">
                    <div>이메일</div>
                    <input type="email" name="email" id="email" required>&nbsp;
                </div>


                <div class="phone">
                    <div class="number">핸드폰 번호</div>
                        <select id="countryCode">
                            <option value="+82" selected>대한민국 (+82)</option>
                            <option value="+1">미국 (+1)</option>
                            <option value="+44">영국 (+44)</option>
                            <option value="+81">일본 (+81)</option>
                        </select>
                        <input type="text" name="phone" id="phone" required>&nbsp;
                    </div>
                </div>
        </div>

            <div class="void"></div>

        <div class="order-details-con">

            <div class="order-details" >
                <h4>주문 상세정보</h4>
                    <div class="adrs" >
                    <input type="button" value="검색" class="btn" id="address">
                    <div class="adrss1">주소</div>
                   <input type="text" name="adrs" id="adrs" required >
                     </div>

                <div class="detailed-address">
                    <div class="adrss2">상세주소</div>
                    <input type="text" name="detailedAdrs" id="detailedAdrs" required >&nbsp;
                </div>

                <div class="requested">
                    <div class="req">요청사항</div>
                    <input type="text" name="requested" id="requested" required>&nbsp;
                </div>

                    <input type="checkbox" id="confirmationCheckbox">
                    <label for="confirmationCheckbox">주문정보를 모두 확인했습니다</label>
            </div>

        </div>
        </div>
        </div>

        </form>
    </div>


<!--    주소 창 찾기-->
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:inline="javascript">

        const $address = document.getElementById("address");


        $address.onclick = function() {

            /* 다음 우편번호 검색 창을 오픈하면서 동작할 콜백 메소드를 포함한 객체를 매개변수로 전달한다. */
            new daum.Postcode({
                oncomplete: function(data){
                    /* 팝업에서 검색결과 항목을 클릭했을 시 실행할 코드를 작성하는 부분 */
                    document.getElementById("adrs").value = data.zonecode;
                    document.getElementById("detailedAdrs").value = data.address;
                }
            }).open();
        }
    </script>


     
 

</th:block>
</html>