<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
>

<th:block  layout:fragment="content">


    <title>join</title>
    <link rel="stylesheet" th:href="@{/css/login/join.css}" type="text/css">




    
        <div class="container">
            <div class="left">
                <div class="detailLeft">
                <div class="jointitle">회원가입</div>
                <div>
                    <span>이미 계정이 있으신가요?</span> 
                    <span class="gologin"><a th:href="@{/member/login}">로그인하기</a></span>
                </div>

                <!---->
                <div class="joininfo">
                <form id="joinForm" th:action="@{/member/join}" method="post">
                <div>
                    <li>이름</li>
                    <li><span><input class="box1" type="text" maxlength="5" name="userName" id="userName" required></span></li>
                    <li>아이디</li>
                    <li><span><input class="box2" type="text" maxlength="13" name="userId" id="userId" required></span>&nbsp;&nbsp;
                        <span class="mailbtn"><input type="button" value="중복확인"  id="duplicationCheck"></span>

                    </li>


                    </div>
                    <div>
                        <li>이메일 주소</li>
                        <span><input type="text" class="box2" name="email" id="email"></span>&nbsp;&nbsp;<span class="mailbtn"><button type="submit" id="send">인증번호 받기</button></span>
                        <input type="hidden" name="hdValue" id="hdValue">
                        <li>이메일 코드입력</li>
                        <span><input type="text" class="box2" id="emailCode"></span>&nbsp;&nbsp;<span class="mailbtn"><button type="submit" id="checkMail">인증번호 확인</button></span>
                        <script>
                            const sendButton = document.querySelector("#send");
                            sendButton.addEventListener('click', function () {
                                const email = document.getElementById("email").value;
                                fetch('/member/sendEmail', {
                                    method: "POST",
                                    headers: {
                                        'Content-Type': 'text/plain'
                                    },
                                    body: email
                                })
                                    .then(response => response.json())
                                    .then(data => {
                                        if (data) {
                                            alert(email + "메일을 보냈습니다. 확인하세요!");
                                            // 이메일 코드를 숨은 입력 필드에 저장
                                            console.log(data)
                                            document.getElementById("hdValue").value = data;
                                        } else {
                                            alert("전송 실패 하였습니다. 재시도 하세요!")
                                        }
                                    });
                            });

                            const checkMailButton = document.querySelector("#checkMail");
                            checkMailButton.addEventListener('click', function () {
                                const emailCode = document.getElementById("emailCode").value;
                                const hdValue = document.getElementById("hdValue").value;
                                fetch('/member/checkMail', {
                                    method: "POST",
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({ emailCode: emailCode, hdValue })
                                })
                                    .then(response => response.json())
                                    .then(data => {
                                        if (data) {
                                            alert("인증성공");
                                        } else {
                                            alert("인증실패");
                                        }
                                    });
                            });
                        </script>
                    </div>

                    <div>
                        <li>
                            <span>비밀번호</span>
                            <span class="movetext2">비밀번호 확인</span>
                        </li>
                        <li>
        <span>
            <input placeholder="8자 이상의 영어, 숫자 입력" class="box3" type="password" maxlength="13" name="userPwd" id="userPwd" required>
        </span>
                            &nbsp;&nbsp;
                            <span>
            <input class="box3" type="password" maxlength="13" name="memberPwd2">
        </span>
                        </li>
                        <input type="checkbox" id="showPassword" onchange="togglePassword()">
                        <label for="showPassword">비밀번호 보이기</label>
                    </div>

                    <script>
                        function togglePassword() {
                            const userPwd = document.getElementById("userPwd");
                            const showPasswordCheckbox = document.getElementById("showPassword");

                            if (showPasswordCheckbox.checked) {
                                userPwd.type = "text";
                            } else {
                                userPwd.type = "password";
                            }
                        }
                    </script>
    
                    <div>
                        
                        <label >우편번호</label><br>
                        <input type="text" name="zipCode" id="zipCode" class="box2" readonly> &nbsp;
                        <input type="button" value="검색" class="searchZipCode1" id="searchZipCode">
                    </div>
                    <div>
                        <label >주소</label><br>
                        <input type="text" name="address1" id="address1" class="box1" readonly>
                    </div>
                    <div>
                        <label >상세주소</label><br>
                        <input type="text" name="address2" id="address2" class="box1">
                    </div>
                    <div>
                        <label >핸드폰번호</label><br>
                        <input type="text" name="phone" id="phone" class="box1">
                    </div>
                    <div>
                        <label >생년월일</label><br>
                        <input type="text" name="dateBirth" id="dateBirth" class="box1">
                    </div>
            
                <div class="joinbtn"><a th:href="@{/member/login}"><button type="submit" >회원가입</button></a></div>
            </form>
            
    
        </div>
    
            </div>
        </div>
    
            <div class="right">
                <div class="detailRight"><img class="kinglogo" src="/images/01_logoimg/logoNone.png" alt=""> </div>
            </div>
    
        </div>
    
        <div class="down2"><div class="down">
            <span>Help Center</span>
            <span>Terms of Service</span>
            <span>Privacy Policy</span>
            <span>@2022Yanliudesign</span>
            </div></div>





    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:inline="javascript">

        const $searchZipCode = document.getElementById("searchZipCode");
        const $goMain = document.getElementById("goMain");

        $searchZipCode.onclick = function() {

            /* 다음 우편번호 검색 창을 오픈하면서 동작할 콜백 메소드를 포함한 객체를 매개변수로 전달한다. */
            new daum.Postcode({
                oncomplete: function(data){
                    /* 팝업에서 검색결과 항목을 클릭했을 시 실행할 코드를 작성하는 부분 */
                    document.getElementById("zipCode").value = data.zonecode;
                    document.getElementById("address1").value = data.address;
                    document.getElementById("address2").focus();
                }
            }).open();
        }



    </script>





    </th:block>
    </html>