<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">

<th:block  layout:fragment="content">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>공지사항 세부사항</title>

<link rel="stylesheet" href="/css/manager/board/complaintAnswered.css">



<div class="container">

<th:block th:replace="/fragments/managersidebar.html"></th:block>


        <div class="middle">
            <!-- 가운데 컨텐츠 -->
            <div class="first">
                <span><a class="black-link" th:href="@{/board/noticeboard/noticeMain}">공지사항</a></span>
                <span><strong>></strong></span>
                <span>세부사항</span>
            </div>
        
            <div>
				<a href="#"><img class="logo1" src="/images/01_logoimg/textLogoNone.png" alt=""></a>            </div>
            

            <div class="box">
                <span class="box1">작성번호 : 1</span>
                <!-- <span class="box1">작성자:김민*</span> -->
                <span class="box2">작성일자:2023/11/15</span>
                <!-- <span class="box3">처리완료</span> -->
            </div>
            
            <div>
                <form action="">
                    <div class="title">
                        <span id="details">제목</span>
                        <span id="details2">욕설을 했습니다</span>
                    </div>
                    <div class="detail">
                        <div id="details">작성자 정보</div>

                        <div id="details2">
							<div id="color">작성자(신고당한 사람)</div>
							<div id="writer">홍길*</div>
							<div id="color">세부 내용</div>
							<div id="writer">블라블라블라블라블라욕욕(너무 길면 중간에 자르고 링크로 이동해서 확인)</div>
							<div id="color">해당 위치로 이동</div>
							<div id="writer">(이동 링크)</div>
						</div>
                    </div>
                    <div class="detail">
                        <div id="details">신고 세부 사유</div>

						<div id="details2">이러쿵저러쿵욕설을이렇게저렇게궁시렁절시렁이러쿵저러쿵욕설을이렇게저렇게궁시렁절시렁이러쿵저러쿵욕설을이렇게저렇게궁시렁절시렁이러쿵저러쿵욕설을이렇게저렇게궁시렁절시렁이러쿵저러쿵욕설을이렇게저렇게궁시렁절시렁이러쿵저러쿵욕설을이렇게저렇게궁시렁절시렁이러쿵저러쿵욕설을이렇게저렇게궁시렁절시렁이러쿵저러쿵욕설을이렇게저렇게궁시렁절시렁이러쿵저러쿵욕설을이렇게저렇게궁시렁절시렁이러쿵저러쿵욕설을이렇게저렇게궁시렁절시렁이러쿵저러쿵욕설을이렇게저렇게궁시렁절시렁이러쿵저러쿵욕설을이렇게저렇게궁시렁절시렁이러쿵저러쿵욕설을이렇게저렇게궁시렁절시렁</div>

                    </div>
                    <div class="submitbtn"><button type="submit">글쓰기</button></div>
                </form>
            </div>

        
            
        
            
            <div class="pagination">
                <div class="pagination-box">
                    <a href="#" class="prev">＜</a>
                    <div class="page-links">
                        <a href="#" class="page-link">1</a>
                        <a href="#" class="page-link">2</a>
                        <a href="#" class="page-link">3</a>
                        
                    </div>
                    <a href="#" class="next">＞</a>
                </div>
            </div>
        </div>


        <div class="right">
            <!-- 우측 컨텐츠 -->
        </div>
    </div>


</th:block>
</html>