<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<th:block th:fragment="headerFragment">

<header >
    <img src="/images/01_logoimg/textLogoNone.png" alt="로고" width="100" class="logo-image"
         th:onclick="'location.href=\'/'
                        + '\''"
    >

    <!-- 상단 메뉴 !!-->
    <nav>
        <ul>
            <li><a th:href="@{/}">홈</a></li>
            <li><a th:href="@{/pundingButton/mainPunding}">펀딩</a></li>
            <li><a th:href="@{/board/inquiryMain}">고객센터</a></li>
            <li><a th:href="@{/board/noticeMain}">공지사항</a></li>
        </ul>
    </nav>



    <!-- 검색창 -->
    <div class="search-box">
        <input type="text" placeholder="검색어를 입력하세요">
        <img src="/images/04_etc/magnifying glass.png" alt="돋보기 이미지" class="search-icon" onclick="performSearch()">
    </div>
    </div>

    <!-- 로그인 회원가입 -->
    <div class="login-signup">
        <nav>
            <ul>
            <th:block sec:authorize="isAnonymous()">
                <li><a th:href="@{/member/login}">로그인</a></li>
                <li><a th:href="@{/member/join}">회원가입</a></li>
            </th:block>

            <th:block sec:authorize="isAuthenticated()">
                <th:block sec:authorize="hasRole('USER')">
                    <li><span sec:authentication="principal.username"></span>님의 방문을 환영합니다.</li>
                    <li><a th:href="@{/member/logout}">로그아웃</a></li>
                    <li><a th:href="@{/member/myInfo}">마이페이지</a></li>
                </th:block>
                <th:block sec:authorize="hasRole('ADMIN')">
                    <li><span sec:authentication="principal.username"></span>님의 방문을 환영합니다.</li>
                    <li><a th:href="@{/member/logout}">로그아웃</a></li>
                    <li><a th:href="@{/manager/search/userMain}">관리자페이지</a></li>
                </th:block>
                <th:block sec:authorize="hasRole('SELLER')">
                    <li><span sec:authentication="principal.username"></span>님의 방문을 환영합니다.</li>
                    <li><a th:href="@{/member/logout}">로그아웃</a></li>
                    <li><a th:href="@{/member/myInfo}">마이페이지</a></li>
                </th:block>
            </th:block>


            </ul>
        </nav>
    </div>

    <!-- 프로젝트 시작하기 -->
    <div class="project-button">
        <a th:href="@{/projectMake/projectStart}">프로젝트 시작하기</a>
    </div>
</header>
</th:block>
</html>