
<link rel="stylesheet" href="/css/sideBar/css.css">
<!-- 사이드바 배경 -->
<div class="sideBar">

    <!-- 사이드바 메뉴 -->
    <div class="sideBar-menu">

        <div id="navSide">
            <ul class="sideBar-toggle">
                <li><a th:href="@{/projectMake/projectStart}">1단계 : 카테고리 선택</a><br>

                </li>
            </ul>
            <ul class="sideBar-toggle">
                <li><a th:href="@{/projectMake/basicInfo}">2단계 : 기본 정보</a><br>

                </li>
            </ul>
            <ul class="sideBar-toggle">
                <li><a th:href="@{/projectMake/projectInfo}">3단계 : 세부 정보</a><br>

                </li>
            </ul>
            <ul class="sideBar-toggle">
                <li><a th:href="@{/projectMake/payChoice}">4단계 : 요금제 선택</a><br>

                </li>
            </ul>
            <ul class="sideBar-toggle">
                <li><a th:href="@{/projectMake/projectStory}">5단계 : 펀딩 스토리 입력</a><br>

                </li>
            </ul>
            <ul class="sideBar-toggle">
                <li><a th:href="@{/projectMake/option}">5-1단계 : 옵션 입력</a><br>

                </li>
            </ul>
            <ul class="sideBar-toggle">
                <li><a th:href="@{/projectMake/businessInfo}">6단계 : 회사 정보</a><br>

                </li>
            </ul>
            <ul class="sideBar-toggle">
                <li><a th:href="@{/projectMake/projectAgree}">7단계 : 동의 및 제출</a><br>

                </li>
            </ul>



        </div>
        <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#navSide ul.sub").hide();
                $("#navSide ul.sideBar-toggle li").click(function () {
                    $("ul", this).slideToggle("normal");
                });
            });
        </script>

        <div class="sideBar-adver">
            <div class="sideBar-adver-back"></div>
            <span class="sideBar-adver-text">요금제를 업그레이드하고
				더 많은 광고기회를 얻으세요</span>
            <div class="sideBar-adver-button">
                <div class="sideBar-adver-button-back"></div>
                <span class="sideBar-adver-button-text">지금 업그레이드!</span>
            </div>
        </div>
    </div>

</div>