
<link rel="stylesheet" href="/css/sideBar/css.css">
<!-- 사이드바 배경 -->
<div class="sideBar">

    <!-- 사이드바 메뉴 -->
    <div class="sideBar-menu">

        <div id="navSide">
            <ul class="sideBar-toggle">
                <li><a th:href="@{/projectMake/projectStart}">카테고리 선택(projectStart)</a><br>

                </li>
            </ul>
            <ul class="sideBar-toggle">
                <li><a th:href="@{/projectMake/basicInfo}">제목, 대표 이미지, 종료일, 검색용 태그 (basicInfo)</a><br>

                </li>
            </ul>
            <ul class="sideBar-toggle">
                <li><a th:href="@{/projectMake/projectInfo}">프로젝트 타입, 대표자 이메일, 심사 서류, 목표 금액(projectInfo)</a><br>

                </li>
            </ul>
            <ul class="sideBar-toggle">
                <li><a th:href="@{/projectMake/payChoice}">수수료 선택(payChoice)</a><br>

                </li>
            </ul>
            <ul class="sideBar-toggle">
                <li><a th:href="@{/projectMake/projectStory}">소개 사진, 요약, 스토리??(projectStory)</a><br>

                </li>
            </ul>
            <ul class="sideBar-toggle">
                <li><a th:href="@{/projectMake/projectAgree}">정책 동의(projectAgree)</a><br>

                </li>
            </ul>
            <ul class="sideBar-toggle">
                <li><a th:href="@{/projectMake/sellerInfo}">판매자 명, 판매자 프로필 이미지, 문의 이메일?(sellerInfo)</a><br>

                </li>
            </ul>

        </div>
        <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#navSide ul.sub").hide();
                $("#navSide ul.sideBar-toggle li").click(function () {
                    $("ul", this).slideToggle("normal");
                });
            });
        </script>

        <div class="sideBar-adver">
            <div class="sideBar-adver-back"></div>
            <span class="sideBar-adver-text">요금제를 업그레이드하고
				더 많은 광고기회를 얻으세요</span>
            <div class="sideBar-adver-button">
                <div class="sideBar-adver-button-back"></div>
                <span class="sideBar-adver-button-text">지금 업그레이드!</span>
            </div>
        </div>
    </div>

</div>