<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<th:block  layout:fragment="content">

    <link rel="stylesheet" href="/css/manager/project/complaintMain.css">

    <div class="container">
        <th:block th:replace="/fragments/managersidebar.html"></th:block>

        <div class="middle">
            <!-- 가운데 컨텐츠 -->
            <div class="first">
                <span><a class="black-link" th:href="@{/board/complaintProjectMain}">프로젝트 신고 게시판</a></span>

            </div>

            <div>
				<a href="#"><img class="logo1" src="/images/01_logoimg/textLogoNone.png" alt=""></a>
            </div>


            <form th:action="@{/board/complaintProjectMain}" id="search" method="get">
                <div class="searchcontainer">
                    <!--                왼쪽 select 박스-->


                    <div class="searchleft1">
                        <input type="hidden" name="currentPage" value="1">
                        <select name="nation1" id="nation1">
                            <th:block th:if="${selectCriteria.getNation1()} == 'code'">
                                <option value="code">신고 코드</option>
                            </th:block>
                            <th:block th:if="${selectCriteria.getNation1()} == 'title'">
                                <option value="title">제목</option>
                            </th:block>
                            <th:block th:if="${selectCriteria.getNation1()} == 'reason'">
                                <option value="reason">신고 사유</option>
                            </th:block>
                            <th:block th:if="${selectCriteria.getNation1()} == 'reported'">
                                <option value="reported">판매자</option>
                            </th:block>
                            <th:block th:if="${selectCriteria.getNation1()} == 'date'">
                                <option value="date">신고일자</option>
                            </th:block>
                            <option value="code">신고 코드</option>
                            <option value="title">제목</option>
                            <option value="reason">신고 사유</option>
                            <option value="reported">판매자</option>
                            <option value="date">신고일자</option>
                        </select>
                    </div>

                    <div class="searchleft2">
                        <select name="nation2" id="nation2">
                            <th:block th:if="${selectCriteria.getNation2()} == 'asc'">
                                <option value="asc">오름차순</option>
                            </th:block>
                            <th:block th:if="${selectCriteria.getNation2()} == 'desc'">
                                <option value="desc">내림차순</option>
                            </th:block>

                            <option value="all">전체</option>
                            <option value="desc">내림차순</option>
                            <option value="asc">오름차순</option>
                        </select>
                    </div>

                    <div class="searchleft3">
                        <select name="authority" id="authority">
                            <th:block th:if="${selectCriteria.getAuthority()} == 'finish'">
                                <option value="finish">처리 완료</option>
                            </th:block>
                            <th:block th:if="${selectCriteria.getAuthority()} == 'yet'">
                                <option value="yet">처리 중</option>
                            </th:block>
                            <option value="all">전체</option>
                            <option value="finish">처리 완료</option>
                            <option value="yet">처리 중</option>
                        </select>
                    </div>

                    <button type="submit">설정</button>



                    <!--                오른쪽 박스-->
                    <div class="searchright">
                        <input type="text" name="searchValue" id="searchValue">
                        <!--                        검색어 입력 칸 input-->
                        <!--                        <button class="iconlogo" type="submit">입력하기</button>-->
                        <!--                        검색어 제출 button-->
                        <select name="nation3" id="nation3">

                            <option selected>검색컬럼</option>
                            <option value="code">신고 코드</option>
                            <option value="title">제목</option>
                            <option value="reason">신고 사유</option>
                            <option value="reported">판매자</option>
                            <option value="date">신고일자</option>
                            <!--                            <option value="etc">기타</option>-->
                        </select>

                    </div>

                </div>
            </form>

            <div>
                <table>

                    <tr>

                        <th id="newcolumn">새 글</th>
                        <th>코드</th>
                        <th>제목</th>
                        <th>신고 사유</th>
                        <th>판매자</th>
                        <th>신고일자</th>
                        <th>처리현황</th>
                    </tr>
                    <tr class="link"
                        th:each=" list : ${project}"
                        th:onclick="'location.href=\'/board/complaintProjectDetail?no='
                        + @{${list.projectReportCode}}
                        + '\''"
                    >
                        <td id="new">new</td>
                        <td th:text="${list.projectReportCode}"></td>
                        <td th:text="${list.reportProject.projectTitle}"></td>
                        <td th:text="${list.reportType}"></td>
                        <td th:text="${list.reporter.name}"></td>
                        <td th:text="${list.reportDate}"></td>
                        <td th:if="${#lists.isEmpty(list.actionDetail)}">처리 전</td>
                        <td th:if="${!#lists.isEmpty(list.actionDetail)}">처리 완료</td>
                    </tr>
                </table>


            </div>


            <script th:inline="javascript">
                /*<![CDATA[*/

                document.addEventListener('DOMContentLoaded', function () {
                    var rows = document.querySelectorAll('.link');

                    rows.forEach(function (row) {
                        var dateCell = row.querySelector('td:nth-child(6)');
                        var dateString = dateCell.textContent;

                        // DB에서 DATE 타입으로 저장된 경우
                        var parts = dateString.split('-');
                        var reportDate = new Date(parts[0], parts[1] - 1, parts[2]);

                        var currentDate = new Date();

                        // 일자 차이 계산
                        var timeDifference = currentDate - reportDate;
                        var daysDifference = Math.floor(timeDifference / (1000 * 60 * 60 * 24));

                        // 신고일자가 7일 이내라면 해당 <td> 내의 내용을 비움
                        if (daysDifference >= 7) {
                            var newCell = row.querySelector('td#new');
                            newCell.innerHTML = '';  // 내용 비우기
                        }
                    });
                });

                /*]]>*/
            </script>


            <!-- 페이지 처리 -->
            <div class="pagination" align="center">
                <div class="pagination-box">
                    <!--                     맨 앞으로 이동 버튼 -->
                    <!--                    <button class="prev"-->
                    <!--                            th:onclick="'location.href=\'/manager/search/userMain?currentPage='+ @{${selectCriteria.startPage}} + '\''"-->
                    <!--                            th:disabled="${selectCriteria.pageNo == 1}"-->
                    <!--                    >-->
                    <!--                        <<-->
                    <!--                    </button>-->
                    <!-- 이전 페이지 버튼 -->
                    <button class="prev"
                            th:onclick="'location.href=\'/board/complaintProjectMain?currentPage='
                            + @{${selectCriteria.pageNo - 1}}
                            +'&nation1='+ @{${selectCriteria.nation1}}
                            +'&nation2='+ @{${selectCriteria.nation2}}
                            +'&authority='+ @{${selectCriteria.authority}}
                            +'&searchValue='+ @{${selectCriteria.searchValue}}
                            +'&nation3='+ @{${selectCriteria.nation3}} + '\''"
                            th:disabled="${selectCriteria.pageNo == 1}">



                        <
                    </button>

                    <!-- 숫자 버튼 -->
                    <th:block th:each="page : ${#numbers.sequence(selectCriteria.startPage, selectCriteria.endPage)}">
                        <button class="page-link"
                                th:text="${ page }"
                                th:onclick="'location.href=\'/board/complaintProjectMain?currentPage='
                            + @{${page}}
                            +'&nation1='+ @{${selectCriteria.nation1}}
                            +'&nation2='+ @{${selectCriteria.nation2}}
                            +'&authority='+ @{${selectCriteria.authority}}
                            +'&searchValue='+ @{${selectCriteria.searchValue}}
                            +'&nation3='+ @{${selectCriteria.nation3}} + '\''"
                                th:disabled="${ selectCriteria.pageNo eq page }">
                        </button>
                        <!--                        url 쓰려다가 실패한거-->
                        <!--                        ,'nation1='-->
                        <!--                        + @{${selectCriteria.getNation1()}}-->
                        <!--                        , 'nation2='-->
                        <!--                        + @{${selectCriteria.getNation2()}}-->
                    </th:block>

                    <!-- 다음 페이지 버튼 -->
                    <button class="prev"
                            th:onclick="'location.href=\'/board/complaintProjectMain?currentPage='
                            + @{${selectCriteria.pageNo + 1}}
                            +'&nation1='+ @{${selectCriteria.nation1}}
                            +'&nation2='+ @{${selectCriteria.nation2}}
                            +'&authority='+ @{${selectCriteria.authority}}
                            +'&searchValue='+ @{${selectCriteria.searchValue}}
                            +'&nation3='+ @{${selectCriteria.nation3}} + '\''"
                            th:disabled="${selectCriteria.pageNo == selectCriteria.maxPage}"
                    >
                        >
                    </button>
                    <!--                     마지막 페이지로 이동 버튼 -->
                    <!--                    <button class="prev"-->
                    <!--                            th:onclick="'location.href=\'/manager/search/userMain?currentPage='+ @{${selectCriteria.maxPage}} + '\''"-->
                    <!--                            th:disabled="${selectCriteria.pageNo == selectCriteria.maxPage}"-->
                    <!--                    >-->
                    <!--                        >>-->
                    <!--                    </button>-->
                </div>
            </div>
        </div>


        <div class="right">
            <!-- 우측 컨텐츠 -->
        </div>
    </div>


    </th:block>



</html>