body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    background-size: cover;
    /* 창 화면에 100%로 배경 이미지 크기 조절 */
    background-repeat: no-repeat;
    /* 배경 이미지 반복 없음 */
}

a {
    text-decoration: none;
    color: black;
}

.select-a.selected {
    background-color: floralwhite; /* 선택된 항목의 배경색 */
    /* 여기에 추가적인 스타일을 정의할 수 있습니다. */
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}


/* 글쓰기 */
.writing-box {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.writing-box textarea {
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.writing-box button {
    padding: 8px 12px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.writing-box button:hover {
    background-color: #45a049;
}


/* 글쓰기 끝 */


.bodyking {
    /* width: 100%;*/
    height: 2800px;
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;

}

.bigPage {
    position: relative;
    width: 1750px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    /* margin-top: 100px; */


}

.left {
    width: 1000px;
    height: 2500px;
    /* background-color: beige; */
}

.right {
    width: 700px;
    height: 2500px;
    /* background-color: burlywood; */
}

.story-con {
    height: 125px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    /* margin-top: ; */
    border-bottom: 1px solid #ccc;
    width: 1200px;
    margin-left: 275px;


}

.story-con2 {
    height: 125px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    /* margin-top: ; */
}

.story {
    height: 50px;
    margin-top: 50px;
    margin-right: 30px;
    font-size: 30px;
}

.review {
    height: 50px;
    margin-top: 50px;
    margin-left: 30px;
    font-size: 30px;
}

.writing {
    width: 150px;
    height: 50px;
    margin-left: 825px;
    margin-top: 10px;
    background-color: orange;
    border: none;
    border-radius: 10px; /* 5px의 둥근 테두리 */
    color: white;
}

.reviews-con {
    height: 50px;
    margin-top: 50px;
    margin-left: 50px;
}

.reviews {
    font-size: 30px;
    font-weight: bold;
}

.review-box {
    height: 320px;
    background-color: white;
    border-top: 1px solid #ccc;
}

.img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.img {
    margin: 50px;
    display: flex;
    align-items: center; /* 세로 정렬을 중앙으로 설정 */

}

.img-right {
    margin-left: 10px;
    margin-bottom: 2px;
    font-size: 20px;
}

.comment-box {
    height: 120px;
    width: 960px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 21px;
    /* padding: 10px; */
}

.pro-box {
    display: flex;
    align-items: center; /* 수직 가운데 정렬을 위한 설정 */
    justify-content: space-between;
    width: 1000px;
    height: 170px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: white;

}

.pro-1 {
    font-size: 34px;
    font-weight: bold;
    margin-left: 70px;
}

.pro-2 {
    width: 450px;
    height: 100px;
    font-size: 34px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 10px;
    margin-right: 20px;
}

.seller-con {
    height: 280px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 30px;
    background-color: white;
}

.seller {
    height: 120px;
    width: 960px;
    border: 1px solid #ccc;
    border-radius: 10px;
    justify-content: space-between;

    display: flex;
    align-items: center; /* 세로 정렬을 중앙으로 설정 */


}

.seller-img img {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.guide {
    width: 960px;
    height: 280px;
    background-color: #ccc;
    margin: 20px;
    border-radius: 10px;
}

.guide-top {
    /* margin-top: ; */
}

.guide-img {
    /* margin: 50px; */
    margin-top: 50px;

    display: flex;
    align-items: center;
}

.guide-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 50px;
    margin-top: 30px;

}

.guide-title {
    margin-top: 30px;
    margin-left: 10px;
}

.pre-con {
    text-align: left;
}

.introduction-con {
    border-bottom: 1px solid #ccc;
    height: 420px;
}

.introduction {
    font-size: 36px;
}

.introduction-span {
    background-color: orange;
    height: 30px;
    width: 100px;
    font-size: 20px;
}

.btns-con {
    height: 200px;
    width: auto;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center; /* 수직 가운데 정렬을 위한 설정 */
    justify-content: space-between;

}

.goodbtn {
    width: 85px;
    height: 85px;
    color: white;
    border: none;
    background-color: orange;
    border-radius: 10px;
    margin-top: 20px;
}


.like-button {
    font-size: 2em;
    cursor: pointer;
    transition: color 0.5s;
}

.liked {
    color: red;
}


.buybtn {
    width: 570px;
    height: 85px;
    background-color: orange;
    color: white;
    border: none;
    font-size: 30px;
    border-radius: 10px;
    margin-top: 20px;
}

.businesscard-con {
    height: 210px;
    border: 1px solid beige;
    border-radius: 10px;
}

.businesscard img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.businesscard {
    margin-left: 50px;
    margin-top: 30px;
    display: flex;
    align-items: center; /* 세로 정렬을 중앙으로 설정 */

}

.businesscard-right {
    margin-left: 10px;
    margin-bottom: 2px;
    font-size: 20px;
}

.businesscard-home {
    display: flex;
    align-items: center; /* 세로 정렬을 중앙으로 설정 */
    margin-left: 50px;
    margin-top: 30px;

}

.addr {
    margin-left: 50px;
    text-decoration: underline;

}

.business-sns {
    margin-left: 50px;
    margin-top: 30px;
}

.business-sns img {
    margin-left: 75px;
    width: 30px;
}

.report-con {
    height: 50px;
    background-color: #ccc;
    margin-top: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center; /* 세로 정렬을 중앙으로 설정 */

}

.pickkeyword-con {

    /* background-color: aquamarine; */

}

.pickkeyword {
    height: 50px;
    font-size: 35px;
    font-weight: bold;
    margin-top: 70px;

}


.select-a {
    height: 380px;
    width: 625px;
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 25px;
}

.select-b {
    height: 380px;
    width: 625px;
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 25px;

}

.select-c {

    height: 380px;
    width: 625px;
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 25px;


}

.prouct-mid {

    /* margin-bottom: 25px ; */

}

.product-0 {
    /* height: 100px; */
    /* background-color: burlywood; */
}

.product-1 {
    height: 60px;
    align-items: center;
    display: flex;

}

.product-2 {
    height: 60px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.product-3 {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-4 {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-5 {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productprice-1 {
    font-size: 20px;
    font-weight: bold;
    /* margin-bottom: 20px; */

}

.product-bottom {
    display: flex;
    align-items: center;
    /* 수직 가운데 정렬을 위한 설정 */
    justify-content: space-between;
}

.scroll-container {
    max-height: 900px; /* 스크롤이 나타날 최대 높이를 지정 */
    overflow-y: auto;
    border: none;
}

/* 스크롤바 스타일 변경 */
.scroll-container::-webkit-scrollbar {
    width: 12px; /* 스크롤바의 너비 */
}

/* 스크롤바 트랙 스타일 변경 */
.scroll-container::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 스크롤바 트랙 배경색 */
}

/* 스크롤바 버튼 스타일 변경 및 radius 추가 */
.scroll-container::-webkit-scrollbar-thumb {
    background-color: #888;
    /* 스크롤바 버튼 배경색 */
    border-radius: 6px; /* 버튼의 모서리 반경 */
    /* border: 3px solid #555; */
    /* 버튼의 테두리 스타일 */
}

.qna-con {
    justify-content: center;
    display: flex;
    align-items: center;
}

.qnaPage {
    width: 1500px;
    height: 1200px;
    justify-content: center;
    display: flex;
    align-items: center;
    /* 수직 가운데 정렬을 위한 설정 */

}


.logo1 {
    width: 140px; /* 원하는 너비로 설정하세요. */
    height: auto; /* 높이는 자동으로 조정됩니다. */
    margin-top: 40px;
}

.black-link,
.black-link:visited {
    color: black;
    text-decoration: none; /* 밑줄 제거 */
}

.iconlogo {
    position: relative;
    top: 6px; /* 아이콘을 아래로 5px 이동 */

}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.pagination-box {
    display: flex;
    align-items: center;
}

.page-links {
    display: flex;
    margin: 0 10px;
}

.page-link, .prev, .next {
    padding: 5px 10px;
    background: rgb(240, 240, 240);
    margin: 0 3px;
    text-decoration: none;
    color: #333;
    border-radius: 7px; /* 모서리를 둥글게 만듦 */
}

.page-link:hover, .prev:hover, .next:hover {
    background-color: darkorange;
    cursor: pointer;
}

table {
    border-collapse: collapse; /* 테이블 셀 경계를 합침 */
    width: 100%; /* 테이블이 부모 요소에 가득 차도록 함 */
    border-spacing: 10px;
}

th, td {
    border-top: 1px solid #ddd; /* 상단에만 회색 선 추가 */
    border-bottom: 1px solid #ddd; /* 하단에만 회색 선 추가 */
    padding: 20px; /* 셀 안의 여백 설정 */
    text-align: left; /* 셀 안의 텍스트를 왼쪽 정렬 */
}

th {
    /* background-color: #f2f2f2; 헤더 셀에 연한 회색 배경색 추가 */
    border-top: none; /* 헤더 셀의 상단 선 제거 */
    border-bottom: 1px solid #ddd; /* 헤더 셀의 하단에만 회색 선 추가 */
}

td a {
    color: black;
}

.container {
    display: flex;
    justify-content: space-between; /* 컨테이너 내부 요소들을 좌측과 우측에 배치 */
    width: 100%;
    height: 1020px;

    margin: 0 auto; /* 화면 가운데 정렬 */
}

.left {
    flex-basis: 380px; /* 왼쪽 영역의 너비를 30%로 설정 */
    flex-shrink: 0;
    /* 음영 효과 설정 */
    /*box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.1);*/
}

.middle {
    margin-left: 0%;

    margin-top: 4%;


    flex-basis: 1200px;
    /* 가운데 영역의 너비를 50%로 설정 */
    flex-shrink: 0;

    /* 음영 효과 설정 */
    /* box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.1); */
}


#link {
    cursor: pointer;
}

.right {
    flex-basis: 192px; /* 오른쪽 영역의 너비를 20%로 설정 */
}

.searchcontainer {
    display: flex;
    justify-content: space-between; /* 좌우에 요소를 배치 */
    width: 100%;
    margin-top: 40px;
    align-items: baseline;
}

.searchright {
    /* 우측 영역의 너비를 30%로 설정 */
    display: flex; /* 내부 요소들을 가로로 배치 */
    justify-content: flex-end;
    /* 내부 요소를 오른쪽으로 정렬 */
    align-items: center;
    /* 내부 요소를 세로 방향 가운데 정렬 */
    margin-left: auto; /* 오른쪽으로 이동시킴 */

}

.searchleft1 {
    margin-left: 40px;
}

.searchleft2 {
    margin-left: 15px;
}

.newWriting {
    margin-left: 300px;
    border: solid;

    border-radius: 5px;
    border-width: 1px;

    /* padding-inline-start: 10px; */
    /* padding-inline-end: 10px; */


}

#newcolumn {
    visibility: hidden;
}

#new {
    color: red;
}

.first {
    font-size: 30px;
    font-weight: 1000;
    margin-top: 40px;
}


.pagination-box {
    display: flex;
    align-items: center;
}

.page-links {
    display: flex;
    margin: 0 10px;
}

.page-link, .prev, .next {
    padding: 5px 10px;
    background: rgb(240, 240, 240);
    margin: 0 3px;
    text-decoration: none;
    color: #333;
    border-radius: 10px; /* 모서리를 둥글게 만듦 */
}

.page-link:hover, .prev:hover, .next:hover {
    background-color: darkorange;
    cursor: pointer;
}
